@{
    ViewBag.Title = "HomeLogado";
    string msgBoasVindas = "Seja Bem vindo(a) " + ViewBag.NomeUsuario;
}

<div id="boasVindas">
    <div id="img">
        <img  width="80" weidth="80" src="~/Content/img/Student-3-icon.png" />
        <h2>@msgBoasVindas</h2>
    </div>
    

</div>

